.left-frame-title {
    background-color: transparent;

    height: 3.5rem;
    width: 15rem;

    padding: 0;

    margin-top: 145px;
    margin-left: -65px;

    transform: rotate(270deg);
    color: gray;

    position: fixed;

    font-size: 20px;
    font-weight: bold;
    text-align: right;
    text-align: bottom;
}

span.doc-name {
    font-size: 30px;
    background-color: transparent;
}

#left-frame.grid-item {
    width: 150px;
}

@media (max-width: 480px) {
    .left-frame-title {
        height: 1.5rem;
        width: 15rem;
        text-align: right;
        padding: 0;
        margin-top: 125px;
        margin-left: -65px;
        font-size: 15px;
    }

    span.doc-name {
        font-size: 20px;
    }

    #left-frame.grid-item {
        width: 75px;
    }
}