.grid-container {
    display: grid;
    grid-template-columns: 180px auto 12%;
    grid-template-rows: auto auto max-content;
    gap: 5px;
}

.cards-grid-container {
    display: grid;
    gap: 7px;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-image {
    height: 100px;
    width: 100%;
    display: inline;
    object-fit: cover;
}

.card {
    width: 22rem;
    box-shadow: 3px 3px lightgray;
}

@media (min-width: 1800px) {
    .cards-grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1400px) {
    .cards-grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1000px) {
    .cards-grid-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .grid-container {
        display: grid;
        grid-template-columns: 80px auto 20px;
        grid-template-rows: max-content;
    }

    .cards-grid-container {
        grid-template-columns: 1fr;
    }

    .card-image {
        height: 75px;
        width: 100%;
        display: inline;
        object-fit: cover;
    }
}