#header {
    z-index: 2;
    margin-left: 12%;
}

#header, .separator.grid-item {
    grid-column: span 3;
}

#name, #professional-title{
    text-align: left;
}

.resume-links{
    text-align: right;
    margin: 0;
    padding: 0;
    border: 0;
    margin-right: 25%;
}

.resume-links > a{
    font-size: small;
}

.btn-group {
    float: right;
    margin-right: 20%;
}


@media (max-width: 480px) {
    .resume-links {
        margin-right: 10%;
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .btn-group {
        margin-right: 10%;
    }

    .btn-group > a {
        font-size: 12px;
    }

    .btn {
        font-size: 10px;
    }
}