h1, h2, h3, h4, b {
    color: #100D58;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1px;
    text-align: center;
}

h2 {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 1.3rem;
    text-align: center;
}

h3 {
    background-color: #100D58;
    color: white;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.1rem;
    font-weight: normal;
}

h4 {
    margin-top: 5px;
    margin-bottom: 0;
    padding-top: 0;
    font-size: 1.1rem;
}

hr {
    border: 1px solid #100D58;
}

.company {
    padding-left: 1rem;
    color: #100D58;
    font-weight: bold;
}

.city {
    padding-left: 1rem;
    color: #100D58;
    font-weight: bold;
}

.time-period {
    color: #100D58;
    font-weight: bold;
    font-style: italic;
}

footer {
    margin: 16px 0 16px 0;
    clear: both ;
}

#copyright {
    color: #100D58;
    text-align: center;
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 1rem;
    }

    footer {
        font-size: 0.5rem;
        z-index: 1;
    }
}