* {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    font-size: 1.1rem;
}

body {
    color: #333;
    font-size: 18px;
    background-color: transparent;
    margin-top: 15px;
}

.page-body {
    margin-top: 80px;
}

p, li{
    margin-top: 4px;
}

ul {
    margin-bottom: 2em;
}

li {
    list-style-type: square;
    margin-top: 4px;
    text-align: justify;
}

li::marker {
    color: #100D58;
}

hr {
    border-color: #100D5880;
}

.separator {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.education-level {
    font-size: i.5rem;
    color: #100D58;
}

.italic-text {
    color: black;
    font-style: italic;
}

.skill-list {
    text-align: justify;
}

.bold-text {
    font-weight: bold;
    color: #100D58;
}

.white-text {
    color: transparent;
}

.justify-text {
    text-align: justify;
}

@media (max-width: 480px) {
    * {
        font-size: 12px;
    }
}