/****** HTML elements */
* {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
}

body {
    color: #333;
    font-size: 18px;
}

p, li{
    margin-top: 4px;
    font-size: 1.8vw;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.8vw;
}

th, td {
    border: 1px solid transparent;
    padding: 1px;
    text-align: center;
    background-color: transparent;
}

ul {
    margin-bottom: 2em;
}

/****** classes */
.separator {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.education-level {
    font-size: i.5rem;
    color: #100D58;
}

.course {
    color: black;
    font-style: italic;
}

.institution {
    color: #100D58;
}

.experience {
    text-align: justify;
}

/****** IDs */
#resume {
    width: 75%;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 20px;
    z-index: 1;
}

#header {
    z-index: 2;
}

#copyright {
    color: #100D58;
    text-align: center;
}

#go-to-contact {
    text-align: right;
}