/* HTML elements */

b {
    color: #100D58;
}

body {
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

div {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}

h1 {
    text-align: center;
    color: #100D58;
    margin-bottom: 1px;
}

h2 {
    text-align: center;
    color: #100D58;
    margin-top: 1px;
    margin-bottom: 1px;
}

h3 {
    color: #100D58;
    margin-bottom: 1em;
    text-align: center;
}

h4 {
    color: #100D58;
    margin-top: 5px;
    margin-bottom: 0;
    padding-top: 0;
}

hr {
    border: 1px solid #100D58;
}

p {
    font-size: 0.9em;
    margin-top: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid transparent;
    padding: 1px;
    text-align: center;
}

th {
    background-color: transparent;
    color: #f0f0f0;
}

ul {
    margin-bottom: 2em;
}

/* classes */
.copyright {
    text-align: center;
    color: #100D58;
}


/* education section */
.education-level {
    font-size: i.5rem;
    color: #100D58;
}

.course {
    color: black;
    font-style: italic;
}

.institution {
    color: #100D58;
}


/* experience section */
.experience {
    text-align: justify;
}

.company {
    padding-left: 1rem;
    color: #100D58;
    font-weight: bold;
}

.city {
    padding-left: 1rem;
    color: #100D58;
    font-weight: bold;
}

.time-period {
    color: #100D58;
    font-weight: bold;
}

.separator {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}